		<div class="row">
			<div class="col-md-6 m-auto">		
				<h1 class="text-center display-4 my-4">Mongo File Manager</h1>
				<form action="/updatefile/upload" method="POST" enctype="multipart/form-data">
					<div class="custom-file mb-3">
						<input type="file" name="file" id="file" class="custom-file-input" >
						<label for="file" class="custom-file-label" id="custom-file-label" value="File Uploads">Choose File</label>
					</div>
					<div id="file-upload-filename"></div>
					<input type="submit" value="Submit" class="btn btn-primary btn-block">
				</form>
				<hr/>
			</div>	

		</div>	
		

		<div class="container" >	
							<!-- 	<div class="container col-md-6 m-auto">		 -->
			<% if(files){ %>					
				<% for(var i=0; i < files.length; i++) {  %>
					<div class="row">					
						<div class="col-md-4 card card-body mb-3">
							
							<% if(files[i].isImage) { %>
								<div class="thumbnail">	
							   		<a href="/image/<%= files[i].filename %>" > 
							   			<img class="img-fluid" src="image/<%= files[i].filename %>" alt="logo"/>
							   		</a>
								</div>
								<%= files[i].filename %>   	
							   	<a class ="btn btn-info" href="/image/<%= files[i].filename %>"> Open Image</a>
							<% } else { %>
								<div class="thumbnail">
									<img class="img-fluid" src="images/txtFile.png" alt="logo"/>
								</div>
								<%= files[i].filename%>
								<a class ="btn btn-info" href="/show/<%= files[i].filename %>"> Open File </a>  	
							<% } %>
							
							<div class="mt-1">
								<a class ="btn btn-warning" href="#"> Replace</a>
								<a class ="btn btn-success" href="/download/<%= files[i].filename %>"> Download</a> 
								<a class ="btn btn-success" href="/versions"> Update</a> 
								<a class ="btn btn-secondary" href="#"> Share</a>

							</div>
						</div>
						
					<!--	<a class ="btn btn-warning" href="#"> Update</a>   -->
					<!--	<a class ="btn btn-success" href="/download/<%= files[i].filename %>"> Download</a>  -->
					
						<% i = i + 1;%>
						<% if(i < files.length) { %>
							<div class="col-md-4  card card-body mb-3">
								<% if(files[i].isImage) { %>
									<div class="thumbnail">   
										<a href="/image/<%= files[i].filename %>" >
								   			<img class="img-fluid" src="image/<%= files[i].filename %>" alt="logo"/>
								   		</a>
									</div>   	
									<%= files[i].filename %>  
									<a class ="btn btn-info" href="/image/<%= files[i].filename %>"> Open Image</a>
								<% } else { %>
									<div class="thumbnail">	
										<img class="img-fluid" src="images/txtFile.png" alt="logo"/>
									</div>	
									<%= files[i].filename %>
									<a class ="btn btn-info" href="/show/<%= files[i].filename %>"> Open File</a>
								<% } %>
								<div class="mt-1">
									<a class ="btn btn-warning" href="#"> Replace</a>
									<a class ="btn btn-success" href="/download/<%= files[i].filename %>"> Download</a>
									<a class ="btn btn-success" href="/versions"> Update</a> 
									<a class ="btn btn-secondary" href="#"> Share</a> 
								</div>
							</div>
						<!--	
							<a class ="btn btn-warning" href="#"> Update</a>
							<a class ="btn btn-success" href="/download/<%= files[i].filename %>"> Download</a>
						-->	
						<% } %>

						<% i = i + 1;%>
						
						<% if(i < files.length) { %>
							<div class="col-md-4  card card-body mb-3 ">
								<% if(files[i].isImage) { %>
									<div class="thumbnail">	
								   		<a href="/image/<%= files[i].filename %>" >
								   			<img class="img-fluid" src="image/<%= files[i].filename %>" alt="logo"/>
								   		</a>
									</div>   	
									<%= files[i].filename %>  
								   	<a class ="btn btn-info" href="/image/<%= files[i].filename %>"> Open Image</a>
								<% } else { %>
									<div class="thumbnail">	
										<img class="img-fluid" src="images/txtFile.png" alt="logo"/>
									</div>
									<%= files[i].filename%>
									<a class ="btn btn-info" href="/show/<%= files[i].filename %>"> Open File</a>
								<% } %>
								<div class="mt-1">
									<a class ="btn btn-warning" href="#"> Replace</a>
									<a class ="btn btn-success" href="/download/<%= files[i].filename %>"> Download</a>
									<a class ="btn btn-success" href="/versions"> Update</a> 
									<a class ="btn btn-secondary" href="#"> Share</a>

								</div>
							</div>
						<!--	
							<a class ="btn btn-warning" href="#"> Update</a>
							<a class ="btn btn-success" href="/download/<%= files[i].filename %>"> Download</a>
						-->	
						<% } %>
					</div>		
				<% } %>
			<% } else { %>
				<p> No files to show.
			<% } %>
		</div>
	<hr>	
